* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b1a1a;
    color: #d4cdcd;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: inherit;
}
.main-container {
    display: flex;
    margin: 0 auto;

}

.section-bar {
    background-color: black;
    width: 100%;
    max-width: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position:fixed;
}

.title-proyect {
    text-align: center;
    margin: 1rem 0rem;
    font-size: 1.7rem;
    color: rgb(245, 244, 187);
}

.ul-container {
    width: 100%;
    height: 100lvh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}


.containerA {
    margin: auto;
    width: fit-content;
}

li {
    list-style: none;
    margin: 1rem;
    width: 100%;
}

li img {
    width: 32px;
    height: 32px;
    margin: auto;
    filter: invert(100%);
    cursor: pointer;
}
/* Styles for the main content area */
.content-main {
    margin-left: 4rem;
    padding: 2rem;
}

/* Styles for chips */
.chip {
    border: 1px solid #d4cdcd;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #131111;
}

.chip:hover {
    border: 1px solid #13b1d8;
    transition-duration: 0.6s;
    cursor: pointer;
}  